#get-list-header {
	font-family: FamiliarProBold;
	width: 854px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	background-image: url(/images/gradient-bar.png);
	background-repeat: repeat-x;
	height: 53px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #593325;
	font-size: 20px;
	line-height: 53px;
}
.gray-bg  {
	float: left;
	margin-top: 20px;
	width: 824px;
	margin-left: 15px;
	background-color: #f5f5f4;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}
.number-bg {
	float: left;
	height: 37px;
	width: 824px;
}
.numberx {
	font-family: FamiliarProBold;
	float: left;
	height: 37px;
	width: 37px;
	font-size: 20px;
	line-height: 37px;
	color: #FFF;
	text-align: center;
	background-image: url(/images/number-bg.png);
	background-repeat: no-repeat;
}
.headingx {
	font-family: FamiliarProBold;
	float: left;
	width: 770px;
	height: 37px;
	font-size: 18px;
	color: #1d1d1f;
	padding-left: 12px;
	line-height: 37px;
}
.r-payment-details {
	float: left;
	padding-top: 5px;
	padding-left: 49px;
	width: 750px;
}
#next-detailx {
	font-family: HelveticaLTStdFractions;
	float: left;
	width: 725px;
	background-color: #FFF;
	border: 1px solid #afafaf;
	padding-bottom: 20px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
	color: #666;
	-webkit-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	-moz-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
}

.result-img {
	height: 86px;
	width: 106px;
	border: 3px solid #FFF;
	float: left;
}
.resultx-detail {
	float: left;
	width: 350px;
	padding-left: 20px;
}
.resultx-heading {
	float: left;
	width: 350px;
	font-family: FamiliarProBold;
	font-size: 18px;
	color: #1d1d1f;
	padding-bottom: 2px;
	text-decoration: none;
}
.resultx-details {
	float: left;
	width: 350px;
	padding-bottom: 5px;
	font-family: HelveticaLTStdFractions;
	font-size: 14px;
	color: #606362;
	text-decoration: none;
}
.aplus {
	float: left;
	width: 350px;
	height: 31px;
}
.marks {
	font-family: HelveticaLTStdFractions;
	float: left;
	height: 27px;
	font-size: 13px;
	color: #1d1d1f;
	line-height: 27px;
	margin-top: 1px;
	font-style: italic;
}
.icon-small {
	float: left;
	height: 31px;
	width: 34px;
	padding-left: 10px;
}
#form-price {
	float: left;
	width: 300px;
}
.white-bg {
	float: left;
	height: 28px;
	width: 300px;
	background-color: #FFF;
}
.white-bglarge {
	float: left;
	height: 28px;
	width: 540px;
	background-color: #FFF;
}
.white-bg2 {
	float: left;
	height: 28px;
	width: 300px;
	background-color: #F5F5F4;
}
.white-bg2large {
	float: left;
	height: 28px;
	width: 540px;
	background-color: #F5F5F4;
}
.n-price {
	font-family: FamiliarProBold;
	width: 117px;
	padding-left: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #F5F5F4;
	float: left;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
	color: #1d1d1f;
}
.n-pricelarge {
	font-family: FamiliarProBold;
	width: 150px;
	padding-left: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #F5F5F4;
	float: left;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
	color: #1d1d1f;
}
.p-price {
	font-family: FamiliarProBold;
	float: left;
	height: 28px;
	width: 158px;
	padding-left: 12px;
	line-height: 28px;
	font-size: 13px;
	color: #606362;
}
.p-pricelarge {
	font-family: FamiliarProBold;
	float: left;
	height: 28px;
	width: 360px;
	padding-left: 12px;
	line-height: 28px;
	font-size: 13px;
	color: #606362;
}
#monthly-charges-txt {
	font-family: HelveticaLTStdFractions;
	float: left;
	width: 300px;
	padding-top: 117px;
	padding-left: 10px;
	color: #1d1d1f;
	font-size: 14px;
}
#billing-bg {
	font-family: FamiliarProBold;
	color: #606362;
	float: left;
	width: 350px;
	font-size: 16px;
	
}
.b-address {
	font-family: HelveticaLTStdFractions;
	height: 32px;
	width: 302px;
	border: 1px solid #afafaf;
	padding-right: 5px;
	padding-left: 5px;
	color: #666;
	line-height: 32px;
	font-size: 14px;
	-webkit-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	-moz-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	margin-top: 7px;
}
.b-address-m {
	font-family: HelveticaLTStdFractions;
	height: 32px;
	width: 122px;
	border: 1px solid #afafaf;
	padding-right: 5px;
	padding-left: 5px;
	color: #666;
	line-height: 32px;
	font-size: 14px;
	-webkit-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	-moz-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	margin-top: 7px;
}
.b-address-s {
	font-family: HelveticaLTStdFractions;
	height: 32px;
	width: 63px;
	border: 1px solid #afafaf;
	padding-right: 5px;
	padding-left: 5px;
	color: #666;
	line-height: 32px;
	font-size: 14px;
	-webkit-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	-moz-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	margin-top: 7px;
}
.b-address-xs {
	font-family: HelveticaLTStdFractions;
	height: 32px;
	width: 85px;
	border: 1px solid #afafaf;
	padding-right: 5px;
	padding-left: 5px;
	color: #666;
	line-height: 32px;
	font-size: 14px;
	-webkit-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	-moz-box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	box-shadow: 0px 1px 3px rgba(77,78,83,0.3);
	margin-top: 7px;
}
.hel-14 {
	font-family: HelveticaLTStdFractions;
	font-size: 13px;
	color: #1d1d1f;
	margin-top: 5px;
	font-weight: normal;
}
#right-card {
	font-family: FamiliarProBold;
	color: #606362;
	float: left;
	width: 350px;
	padding-left: 25px;
}
