<% unless object.nil? %>
  <% if object.errors.any? %>
    <div id="error_explanation">
      <h2 style="height:auto;padding: 5px;"><%= pluralize(object.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>