<% unless object.nil? %>
  <% if object.errors.any? %>
    <div id="error_explanation" style="padding: 1px;">
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li style="list-style: none;"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>