<div class="fields-wrapper">
  <% remote_form_for :user_session, @user_session, :url => user_session_create_path, :html => {:id => "login_form"} do |f| %>
    <div class="sign-in-heading">Sign In</div>

    <div id="facebook-login">
      <div id="fb-txt">Using Facebook: </div>
      <div id="fb-btn">
        <%#= fb_connect_async_js %>
        <%# if current_facebook_user && current_facebook_user.fetch %>
          <%#= fb_login_and_redirect(oauth_callback_url, :perms => User::FACEBOOK_SCOPE, :display => 'popup') %>
          <%#= " as #{current_facebook_user.first_name} #{current_facebook_user.last_name} (" + fb_logout_link("change account?", request.url) + ")" %>
        <%# else %>
          <%#= fb_login_and_redirect(oauth_callback_url, :perms => User::FACEBOOK_SCOPE, :display => 'popup') %>
        <%# end %>

      </div>
    </div>

    <div id="user-txt">Or, Your Username &amp; Password:</div>
  <%#= session[:return_to] %>

    <div class="fieldx-bg">
      <div class="fieldx-txt">Email</div>
      <div class="fieldx-field">
        <%= f.text_field :email, :class=>"fieldx" %>
      </div>
    </div>

    <div class="fieldx-bg">
      <div class="fieldx-txt">Password</div>
      <div class="fieldx-field">
        <%= f.password_field :password, :class=>"fieldx" %>
      </div>
    </div>

    <div class="signme-bg">
      <div id="forgot-pass"><%= link_to "Forgot your password?", forgot_password_path, :class => "lost-pwd" %></div>
      <div class="signup-btn">
        <a href="#">
          <img border="0" height="42" width="104" alt="sign me up" src="/images/signin-btn.png" onclick="$('#login_form').submit();"/>
        </a>
      </div>
    </div>
  <%end%>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(document).keyup(function(event) {
      if (event.keyCode == 13) {
        if($('#user_session_email').val() != "" && $('#user_session_password').val() != "" ){
          $('#login_form').submit();
        }
      }
    })
  });
</script>
