<div class="fields-wrapper2">
  <% remote_form_for :user, @user, :url => user_create_path, :html => {:id => "signup_form"} do |f| %>
    <div class="sign-in-heading2">Sign Up</div>
    <div class="fieldx-bg">
      <div class="fieldx-txt">First Name</div>
      <div class="fieldx-field">
        <%= f.text_field :first_name, :class=>"fieldx" %>
      </div>
    </div>

    <div class="fieldx-bg">
      <div class="fieldx-txt">Last Name</div>
      <div class="fieldx-field">
        <%= f.text_field :last_name, :class=>"fieldx" %>
      </div>
    </div>

    <div id="display-name">We'll only display your last initial</div>
    <div class="fieldx-bg2">
      <div class="fieldx-txt">Email</div>
      <div class="fieldx-field">
        <%= f.text_field :email, :class=>"fieldx" %>
      </div>
    </div>

    <div class="fieldx-bg">
      <div class="fieldx-txt">Password</div>
      <div class="fieldx-field">
        <%= f.password_field :password, :class=>"fieldx" %>
      </div>
    </div>

    <div class="signme-bg2">
      <div class="signup-btn">
        <a href="#">
          <img border="0" height="42" width="104" alt="sign me up" src="/images/sign-up-btn.png" onclick="$('#signup_form').submit();"/>
        </a>
      </div>
    </div>
  <%end%>
</div>
