<%= stylesheet_link_tag "signup"%>
<div id="signup-wrapper">

  <%#*<div id="signup-color">%>
    <%#*<div id="signup-heading">%>
      <%#= render :partial => "layouts/flash_messages" %>
    <%#*</div>%>
  <%#*</div>%>
  <div id="errors_div">
    <%= render :partial => "errors" %>
  </div>



  <% unless current_user %>

    <%= render :partial => "login_form" %>
    <%= render :partial => "registration_form" %>

  <% end %>

</div>
