<h1>Forgot Password</h1>
<p>
  <% if !flash[:notice].nil? %>
    <%= flash[:notice] %>
  <% else %>
    Please enter the email address you used to register.
  <% end %>
</p>
<% form_tag forgot_password_submit_path do |f| %>
  <%= label_tag :email %><br />
  <%= text_field_tag :email %><br />
  <br />
  <%= submit_tag "Send Password Reset Link" %>
<% end %>